@model IQueryable<Product>

<div class="tab-pane fade show active"
     id="grid-view"
     role="tabpanel"
     aria-labelledby="grid-view-tab">
    <div class="product-grid-view row g-y-20">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-img">
                        <a href="single-product-variable.html">
                            @foreach (var img in item.ProductImages.Where(pi => pi.Status != null))
                            {
                                <img class="@(img.Status==true? "primary-img" : "secondary-img" )"
                             src="~/assets/images/website-images/@img.ImgUrl"
                             alt="Product Images" />
                            }
                        </a>
                        <div class="product-add-action">
                            <ul>
                                <li>
                                    <a href="wishlist.html"
                                   data-tippy="Add to wishlist"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="quuickview-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#quickModal">
                                    <a href="#"
                                   data-tippy="Quickview"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-look"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="cart.html"
                                   data-tippy="Add to cart"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <a class="product-name"
                       href="single-product-variable.html">@item.Name</a>
                        <div class="price-box pb-1">
                            <span class="new-price">$@item.SellPrice</span>
                        </div>
                        <div class="rating-box">
                            <ul>
                                @for (int i = 0; i < item.Rating; i++)
                                {
                                    <li><i class="fa fa-star"></i></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="tab-pane fade"
     id="list-view"
     role="tabpanel"
     aria-labelledby="list-view-tab">
    <div id="product-area" class="product-list-view row g-y-30">
        @foreach (var item in Model)
        {
            <div class="col-12">
                <div class="product-item">
                    <div class="product-img">
                        <a href="single-product-variable.html">
                            @foreach (var img in item.ProductImages.Where(i => i.Status != null))
                            {
                                <img class="@(img.Status==true? "primary-img" : "secondary-img")"
                             src="~/assets/images/website-images/@img.ImgUrl"
                             alt="Product Images" />
                            }
                        </a>
                    </div>
                    <div class="product-content">
                        <a class="product-name"
                       href="single-product-variable.html">@item.Name</a>
                        <div class="price-box pb-1">
                            <span class="new-price">$@item.SellPrice</span>
                        </div>
                        <div class="rating-box">
                            <ul>
                                @for (int i = 0; i < item.Rating; i++)
                                {
                                    <li><i class="fa fa-star"></i></li>
                                }
                            </ul>
                        </div>
                        <p class="short-desc mb-0">
                            @item.Description
                        </p>
                        <div class="product-add-action">
                            <ul>
                                <li>
                                    <a href="wishlist.html"
                                   data-tippy="Add to wishlist"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="quuickview-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#quickModal">
                                    <a href="#"
                                   data-tippy="Quickview"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-look"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="cart.html"
                                   data-tippy="Add to cart"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
